@*@model IAPromocoes.UI.MVC.ViewModels.CarrinhoViewModel*@

@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/__LayoutExterno.cshtml";
}

@section PageLevelStyles {
    <link href="~/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="~/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
}


<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>Carrinho de Compras</h1>
                <div class="goods-page">
                    <div class="goods-data clearfix">
                        @Html.Partial("_CarrinhoPadrao")

                    </div>
                    @using (Html.BeginForm("Lista", "Produto"))
                    {
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <button class="btn btn-default" type="submit" onclick="parentNode.submit();">Continuar Comprando <i class="fa fa-shopping-cart"></i></button>
                    }

                    @using (Html.BeginForm("FecharPedido", "Carrinho", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <button class="btn btn-primary" type="submit" onclick="parentNode.submit();">Finalizar Compra <i class="fa fa-check"></i></button>

                    }
                    @*@using (Html.BeginForm("Atualizar", "Carrinho", FormMethod.Get))
                    {
                        <button class="btn btn-warning pull-right" type="submit" onclick="parentNode.submit();">Atualizar Carrinho <i class="fa fa-refresh"></i></button>

                    }*@

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>



@section PageLevelPlugins {
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="~/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="~/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src="~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script><!-- Quantity -->

    <script src="~/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
}

@section PageLevelScripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initTouchspin();

            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        });
    </script>
}
